service vendor.qti.vibrator /vendor/bin/hw/vendor.qti.hardware.vibrator.service.mi439
    class hal
    user system
    group system input

on early-boot
    chown system system /sys/class/leds/vibrator/vmax_mv
    chmod 0600 /sys/class/leds/vibrator/vmax_mv
