#
# Copyright (C) 2024 Paranoid Android
#
# SPDX-License-Identifier: Apache-2.0
#

on property:vendor.post_boot.parsed=1
    # Setup final blkio
    # value for group_idle is us
    write /dev/blkio/blkio.weight 1000
    write /dev/blkio/background/blkio.weight 200
    write /dev/blkio/blkio.group_idle 2000
    write /dev/blkio/background/blkio.group_idle 0

    # Cpusets parameters
    write /dev/cpuset/audio-app/cpus "6-7"
    write /dev/cpuset/background/cpus "4-5"
    write /dev/cpuset/camera-daemon/cpus "0-7"
    write /dev/cpuset/restricted/cpus "4-7"
    write /dev/cpuset/system-background/cpus "4-7"

    # Charging
    chown system system /sys/class/power_supply/battery/input_suspend
    chmod 0666 /sys/class/power_supply/battery/input_suspend
