#
# Copyright (C) 2024 Paranoid Android
#
# SPDX-License-Identifier: Apache-2.0
#

on enable-low-power
    # Setup final blkio
    # value for group_idle is us
    write /dev/blkio/blkio.weight 1000
    write /dev/blkio/background/blkio.weight 200
    write /dev/blkio/blkio.group_idle 2000
    write /dev/blkio/background/blkio.group_idle 0

    # Cpusets parameters
    write /dev/cpuset/audio-app/cpus "6-7"
    write /dev/cpuset/background/cpus "4-5"
    write /dev/cpuset/camera-daemon/cpus "0-7"
    write /dev/cpuset/restricted/cpus "4-7"
    write /dev/cpuset/system-background/cpus "4-7"

    # IRQ Tuning
    # IRQ 46: kgsl_3d0_irq
    # IRQ 47: MDSS
    write /proc/irq/46/smp_affinity_list 2
    write /proc/irq/47/smp_affinity_list 3

    # Enable PowerHAL hint processing
    setprop vendor.powerhal.init 1

on property:sys.boot_completed=1
    trigger enable-low-power

on property:init.svc.recovery=running
    trigger enable-low-power
