<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2023 Paranoid Android
     SPDX-License-Identifier: Apache-2.0
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="android.xiaomi.olive"
        android:versionCode="1"
        android:versionName="1.0">

        <overlay android:targetPackage="android"
                android:requiredSystemPropertyName="ro.vendor.xiaomi.device"
		android:requiredSystemPropertyValue="olive"
		android:priority="800"
		android:isStatic="true" />
</manifest>
